body,html{
    height:100%;
}

body {
    background: #1c1c1c;
}

.img-size {
    height: 12%;
    width: 12%;
}

.img-size2 {
    height: 19%;
    width: 19%;
}

.img-size3 {
    height: 35%;
    width: 35%;
}

nav a:hover{
    transition: 0.5s all;
    transform: scale(1.2);
}

footer a, footer i {
    transition: 0.5s all;
    padding-left: 5px;
}

footer a:hover, footer i:hover {
    transform: scale(1.9);
}

footer a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    margin: 15px 0 0 10px;
    color: #FFFFFF;
    font-size: 12px;
}